/* You can add global styles to this file, and also import other style files */
:root {
    --primary-font: 'Outfit', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}